html, body {
    font-family: "Times New Roman", Times, serif;
    font-size: 14.5px;
    height: 100%;
    background: white;
}

body {
    background: white
    text-align: left;
}

:link {
    text-decoration: none;
    color: navy;
}

#pagenum {
    position: absolute;
    font-style: italic;
    font-size: 125%;
    top: 25px;
    z-Index: 1000;
    left: 25px;
}

#prev {
    position: absolute;
    top: 431px;
    z-Index: 1000;
    left: 15px;
}

#next {
    top: 431px;
    z-Index: 1000;
    position: absolute;
    right: 15px;
}

.wrapper {
    width: 608px;
    float: left;
        margin: 0 auto;
}

#infoblock {
    float: center;
    margin-left: 616px;
    padding-left:10px;
    padding-right:10px;
    min-width: 600px;
    background: #ffffff;
    min-height: 910px;
    border: 1px solid green;
}

.orig {
    background: white;
    margin-top: 0px;
    padding-left:55px;
    padding-right:55px;
    font-size: 100%;
    color: #404000;
    z-Index:50;
}

/*
.origSelected {
    background: yellow;
    margin-top: 0px;
    padding-left:55px;
    padding-right:55px;
    font-size: 100%;
    color: #404000;
    z-Index:200;
}*/

#infoblock .src {
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 40px;
    font-size: 100%;
}

.guttenberg-titel
{
    font-family:  Helvetica, Arial, sans-serif;
    position: absolute;
    font-size: 100%;
    top: 27px;
    left: 80px;
    width: 550px;
    z-Index:999;
}

#infoblock .category {
    margin: 10px;
    font-size: 80%;
    float: right;
    color: #606060;
}

#infoblock .url {
    font-size: 80%;
    color: #101080;
}

/*
.navigation {
    position: relative;
    float: center;
    margin: 20px 40px 20px 40px;
    width: 120px;
    top: 0px;
    left: 0px;
    border: none;
    margin: 0px;
    padding: 0px;
}*/

