html, body {
    font-family: "Times New Roman", Times, serif;
    font-size: 14.5px;
    height: 100%;
    background: white;
}

body {
    background: white;
    text-align: left;
}

:link {
    text-decoration: none;
    color: navy;
}

#pagenum {
    position: absolute;
    font-style: italic;
    font-size: 125%;
    top: 25px;
    z-Index: 1000;
    left: 25px;
}

#prev {
    position: absolute;
    top: 431px;
    left: 15px;
    z-Index: 1000;
}

#next {
    position: absolute;
    top: 431px;
    left: 559px;
    z-Index: 1000;
}

#home {
    position: absolute;
    top: 15px;
    left: 559px;
    z-index: 1000;
}

#wrapper {
    top: 20px;
    width: 608px;
    float: left;
    margin: 0 auto;
}

#infoblock {
    position: relative;
    float: center;
    margin-left: 616px;
    padding: 0px;
    min-width: 600px;
    background: #ffffff;
    min-height: 910px;
    border: 1px solid green;
}

#infoblock .orig {
    background: white;
    margin: 0px;
    padding-left: 65px;
    padding-right: 65px;
    font-size: 100%;
    color: #404000;
    z-Index:50;
}

#infoblock .src {
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 40px;
    margin-left: 10px;
    font-size: 100%;
}

#infoblock .inlit {
    position: absolute;
    top: 5px;
    left: 120px;
    z-index: 1000;
}

#guttenberg-titel {
    font-family:  Helvetica, Arial, sans-serif;
    position: absolute;
    font-size: 100%;
    top: 27px;
    left: 80px;
    width: 550px;
    z-Index:999;
}

#infoblock .category {
    margin: 10px;
    font-size: 140%;
    font-weight: bold;
    float: right;
    color: #606060;
}

#infoblock .url {
    font-size: 80%;
    color: #101080;
}
